In [1]:
import numpy as np
import pandas as pd
from sklearn import tree

input_file = "diamonds.csv"
df = pd.read_csv(input_file, header = 0)

df.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

In [2]:
d = {'Fair': 0, 'Good': 1, 'Very Good': 2, 'Premium': 3, 'Ideal': 4}
df['cut'] = df['cut'].map(d)

df.head()

   Unnamed: 0  carat  cut color clarity  depth  table  price     x     y     z
0           1   0.23    4     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1           2   0.21    3     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2           3   0.23    1     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3           4   0.29    3     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4           5   0.31    1     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [3]:
d = {'J': 0, 'I': 1, 'H': 2, 'G': 3, 'F': 4, 'E': 5, 'D': 6}
df['color'] = df['color'].map(d)

d = {'I3': 0, 'I2': 1, 'I1': 2, 'SI2': 3, 'SI1': 4, 'VS2': 5, 'VS1': 6, 'VVS2':7, 'VVS1': 8, 'IF':9, 'FL':10}
df['clarity'] = df['clarity'].map(d)

print(df)

       Unnamed: 0  carat  cut  color  clarity  depth  table  price     x  \
0               1   0.23    4      5        3   61.5   55.0    326  3.95
1               2   0.21    3      5        4   59.8   61.0    326  3.89
2               3   0.23    1      5        6   56.9   65.0    327  4.05
3               4   0.29    3      1        5   62.4   58.0    334  4.20
4               5   0.31    1      0        3   63.3   58.0    335  4.34
5               6   0.24    2      0        7   62.8   57.0    336  3.94
6               7   0.24    2      1        8   62.3   57.0    336  3.95
7               8   0.26    2      2        4   61.9   55.0    337  4.07
8               9   0.22    0      5        5   65.1   61.0    337  3.87
9              10   0.23    2      2        6   59.4   61.0    338  4.00
10             11   0.30    1      0        4   64.0   55.0    339  4.25
11             12   0.23    4      0        6   62.8   56.0    340  3.93
12             13   0.22    3      4        4   60.4   61.0    342  3.88
13             14   0.31    4      0        3   62.2   54.0    344  4.35
14             15   0.20    3      5        3   60.2   62.0    345  3.79
15             16   0.32    3      5        2   60.9   58.0    345  4.38
16             17   0.30    4      1        3   62.0   54.0    348  4.31
17             18   0.30    1      0        4   63.4   54.0    351  4.23
18             19   0.30    1      0        4   63.8   56.0    351  4.23
19             20   0.30    2      0        4   62.7   59.0    351  4.21
20             21   0.30    1      1        3   63.3   56.0    351  4.26
21             22   0.23    2      5        5   63.8   55.0    352  3.85
22             23   0.23    2      2        6   61.0   57.0    353  3.94
23             24   0.31    2      0        4   59.4   62.0    353  4.39
24             25   0.31    2      0        4   58.1   62.0    353  4.44
25             26   0.23    2      3        7   60.4   58.0    354  3.97
26             27   0.24    3      1        6   62.5   57.0    355  3.97
27             28   0.30    2      0        5   62.2   57.0    357  4.28
28             29   0.23    2      6        5   60.5   61.0    357  3.96
29             30   0.23    2      4        6   60.9   57.0    357  3.96
...           ...    ...  ...    ...      ...    ...    ...    ...   ...
53910       53911   0.70    3      5        4   60.5   58.0   2753  5.74
53911       53912   0.57    3      5        9   59.8   60.0   2753  5.43
53912       53913   0.61    3      4        8   61.8   59.0   2753  5.48
53913       53914   0.80    1      3        5   64.2   58.0   2753  5.84
53914       53915   0.84    1      1        6   63.7   59.0   2753  5.94
53915       53916   0.77    4      5        3   62.1   56.0   2753  5.84
53916       53917   0.74    1      6        4   63.1   59.0   2753  5.71
53917       53918   0.90    2      0        4   63.2   60.0   2753  6.12
53918       53919   0.76    3      1        6   59.3   62.0   2753  5.93
53919       53920   0.76    4      1        8   62.2   55.0   2753  5.89
53920       53921   0.70    2      5        5   62.4   60.0   2755  5.57
53921       53922   0.70    2      5        5   62.8   60.0   2755  5.59
53922       53923   0.70    2      6        6   63.1   59.0   2755  5.67
53923       53924   0.73    4      1        5   61.3   56.0   2756  5.80
53924       53925   0.73    4      1        5   61.6   55.0   2756  5.82
53925       53926   0.79    4      1        4   61.6   56.0   2756  5.95
53926       53927   0.71    4      5        4   61.9   56.0   2756  5.71
53927       53928   0.79    1      4        4   58.1   59.0   2756  6.06
53928       53929   0.79    3      5        3   61.4   58.0   2756  6.03
53929       53930   0.71    4      3        6   61.4   56.0   2756  5.76
53930       53931   0.71    3      5        4   60.5   55.0   2756  5.79
53931       53932   0.71    3      4        4   59.8   62.0   2756  5.74
53932       53933   0.70    2      5        5   60.5   59.0   2757  5.71
53933       53934   0.70    2      5        5   61.2   59.0   2757  5.69
53934       53935   0.72    3      6        4   62.7   59.0   2757  5.69
53935       53936   0.72    4      6        4   60.8   57.0   2757  5.75
53936       53937   0.72    1      6        4   63.1   55.0   2757  5.69
53937       53938   0.70    2      6        4   62.8   60.0   2757  5.66
53938       53939   0.86    3      2        3   61.0   58.0   2757  6.15
53939       53940   0.75    4      6        3   62.2   55.0   2757  5.83

          y     z
0      3.98  2.43
1      3.84  2.31
2      4.07  2.31
3      4.23  2.63
4      4.35  2.75
5      3.96  2.48
6      3.98  2.47
7      4.11  2.53
8      3.78  2.49
9      4.05  2.39
10     4.28  2.73
11     3.90  2.46
12     3.84  2.33
13     4.37  2.71
14     3.75  2.27
15     4.42  2.68
16     4.34  2.68
17     4.29  2.70
18     4.26  2.71
19     4.27  2.66
20     4.30  2.71
21     3.92  2.48
22     3.96  2.41
23     4.43  2.62
24     4.47  2.59
25     4.01  2.41
26     3.94  2.47
27     4.30  2.67
28     3.97  2.40
29     3.99  2.42
...     ...   ...
53910  5.77  3.48
53911  5.38  3.23
53912  5.40  3.36
53913  5.81  3.74
53914  5.90  3.77
53915  5.86  3.63
53916  5.74  3.61
53917  6.09  3.86
53918  5.85  3.49
53919  5.87  3.66
53920  5.61  3.49
53921  5.65  3.53
53922  5.58  3.55
53923  5.84  3.57
53924  5.84  3.59
53925  5.97  3.67
53926  5.73  3.54
53927  6.13  3.54
53928  5.96  3.68
53929  5.73  3.53
53930  5.74  3.49
53931  5.73  3.43
53932  5.76  3.47
53933  5.72  3.49
53934  5.73  3.58
53935  5.76  3.50
53936  5.75  3.61
53937  5.68  3.56
53938  6.12  3.74
53939  5.87  3.64

[53940 rows x 11 columns]

In [4]:
features = list(df.columns[1:5])
features

['carat', 'cut', 'color', 'clarity']

In [5]:
y = df["price"]
X = df[features]
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X,y)

In [6]:
from IPython.display import Image  
from sklearn.externals.six import StringIO  
import pydotplus

dot_data = StringIO()  
tree.export_graphviz(clf, out_file=dot_data,  
                         feature_names=features)  
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())  
Image(graph.create_png())

/Users/khrystynakopachevska/anaconda3/lib/python3.7/site-packages/sklearn/externals/six.py:31: DeprecationWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", DeprecationWarning)

ModuleNotFoundError: No module named 'pydotplus'